:root {
  --https-blue: #0a84ff;
  --darker-blue: #0060df;
  --text-main: #000;
  --text-secondary: #464646;
  --light-grey: #ececec;
  --space: 5px;
}

body {
  margin: 0;
  max-width: 320px;
  min-width: 200px;
}

.menu-item {
  border: var(--https-blue) solid 1px;
  color: var(--text-main);
  display: block;
  font-size: 12px;
  margin: var(--space) auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.menu-item:hover {
  background-color: var(--darker-blue);
  color: #fff;
  font-weight: bold;
}

table.option td,
th {
  width: 25%;
}

.option {
  text-align: center;
}
